# Single-cell sequencing analysis
anndata>=0.6
scanpy>=1.5
SparseAEH

# Data analysis
numpy>=1.9.0
scipy>=1.4.0
statsmodels>=0.11
pandas>=0.23.0
h5py>=2.9.0

# Plotting
matplotlib>=3.1.2
holoviews
seaborn
selenium

# Machine learning
scikit-learn>=0.23
hilearn

# Others
threadpoolctl
