# Just until rtd.org understands pyproject.toml
spatialdm
setuptools
setuptools_scm
typing_extensions
importlib_metadata
sphinx_rtd_theme>=0.3
sphinx_autodoc_typehints

# converting notebooks to html
ipykernel
sphinx>=1.7
nbsphinx>=0.9.7
